<section class="auth-container">
  <h1>Регистрация</h1>
  <form>
    <label for="username">Потребителско име</label>
    <input type="text" id="username" placeholder="Въведи име" required>

    <label for="email">Имейл</label>
    <input type="email" id="email" placeholder="Въведи имейл" required>

    <label for="password">Парола</label>
    <input type="password" id="password" placeholder="Създай парола" required>

    <label for="confirm-password">Потвърди парола</label>
    <input type="password" id="confirm-password" placeholder="Повтори паролата" required>

    <button type="submit" class="btn-primary">Регистрирай се</button>

    <p class="auth-footer">
      Вече имаш акаунт? <a routerLink="/login">Влез тук</a>
    </p>
  </form>
</section>
