<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo-title"><span>Майстори БГ</span> – форум за занаятчии</p>
    </div>
    <div class="mini-navbar">
      <ul>
        @if(isLoggedIn){
        <li class="user-profile-btn">
          <a routerLink="/profile">👷 {{ username }} | Профил</a>
        </li>
        <li>
          <a (click)="logout()">🚪 Изход</a>
        </li>
        } @else {
        <li>
          <a routerLink="/login">🔐 Вход</a>
        </li>
        <li>
          <a routerLink="/register">🛠️ Регистрация</a>
        </li>
        }
      </ul>
    </div>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/home">🏠 Начало</a>
      </li>
      <li>
        <a routerLink="/themes">📂 Теми</a>
      </li>
      <li>
        <a routerLink="/add-theme">➕ Нова Тема</a>
      </li>
    </ul>
  </nav>
</header>
